@{
    ViewData["Title"] = "Home Page";
}
<div id="todo">
  <h1>todos</h1>
  <task-form></task-form>
  <tasks></tasks>
  <task-footer></task-footer>
</div>

@section Scripts
{
  <script>
  window.__SHARE__ = {
    TASKS: @Html.Raw(Json.Serialize(ViewBag.Tasks.ToArray()))
  };
  </script>
  <!-- <script src="~/js/vendor.js"></script> -->
  <script src="~/js/app.js" asp-append-version="true"></script>
}
